<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_head :: common_header"></head>


<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav th:replace="common_head :: common_nav"></nav>
    <div class="main-content common-page clearfix">
        <div class="categorys-item">
            <div class="common-title">
                <th:block th:text="${type}"/> : <th:block th:text="${keyword}"/>
            </div>
            <th:block th:if="${commons.is_empty(articles)}">
                <div>
                    <p>抱歉，还没有相关文章.</p>
                </div>
            </th:block>
            <th:block th:unless="${commons.is_empty(articles)}">
                <div class="col-md-6" th:each="article: ${articles.list}">
                    <div class="fh5co-blog animate-box" >
                        <div class="title text-center" style="background-color: #e2e2e21f;" >
                            <span class="posted-on" th:utext="${commons.fmtdate(article.created, 'yyyy/MM/dd HH:mm')}"></span>
                            <h3><a th:href="${commons.permalink(article)}" th:text="${article.title}"></a></h3>
                            <span class="category" th:utext="${commons.show_categories(article.categories)}"></span>
                        </div>
                    </div>
                </div>

            </th:block>

        </div>
    </div>
    <footer th:replace="common_head :: common_footer"></footer>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
</body>
</html>